/* body {
  background-color: black;
  background-image: url("/img/header/frame\ header.gif") ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
} */

/* .ca {
  display: flex;
  flex-direction: column;
} */

/* .frameHeader {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
}

p {
  color: aliceblue;
} */

